# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Create SQL DB'
      'command': 'sqldb-pkg:createDB'
    }
  ]
'menu': [
  {
    'label': 'SQL DB'
    'submenu': [
      {
        'label': 'Create'
        'command': 'sqldb-pkg:createDB'
      }
    ]
  }
]
